@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";

body {
  background-image: url(./assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #6161A2;
  font-family: "Lato", sans-serif;
  height: 100vh;
  overflow: hidden;
}

.App {
  align-items: center;
  background-color: rgba(59, 62, 104, 0.5);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.signup-enter {
  margin-top: 30px;
  opacity: .01;
}

.signup-enter.signup-enter-active {
  margin-top: 0px;
  opacity: 1;
  transition: opacity .5s ease, margin .5s ease;
}

.signup-leave {
  margin-top: 0px;
  opacity: 1;
}

.signup-leave.signup-leave-active {
  margin-top: -30px;
  opacity: .01;
  transition: opacity .3s ease, margin .5s ease;
}